body{
	background-color: white
	margin:0;
}
.first{
	display: block;
	background-color: red;
	margin-top: 2px;
	margin-bottom: 2px;
	margin-left: 3px;
	margin-right: 3px;
	
	
}
.second{
	display: block;
	background-color: red;
	margin-top: 2px;
	margin-bottom: 2px;
	margin-left:3px;
	margin-right:3px;
	
}
.third{
	display:block;
	background-color: red;
	margin-top: 2px;
	margin-bottom: 2px;
	margin-left: 3px;
	margin-right: 3px;
}