body{
	background-color: white
	margin:0;
}
.first{
	display: inline-block;
	background-color: red;
	margin-top: 2px;
	margin-bottom: 2px;
	margin-left: 7px;
	margin-right: 7px;
	
	
}
.second{
	display: inline-block;
	background-color: red;
	margin-top: 2px;
	margin-bottom: 2px;
	margin-left: 7px;
	margin-right: 7px;
	
}
.third{
	display:inline-block;
	background-color: red;
	margin-top: 2px;
	margin-bottom: 2px;
	margin-left: 7px;
	margin-right: 7px;
}
