body{
	background-color: skyblue;
	margin: 0px;
}
.header{
	text-align: center;
	background-color: white;
}
.pics1{
	text-align: center;
}
.img-barry{
	width:600px;
	margin-left: 10px;
}
.pics3{
	text-align: center;
}
.img-robin{
	width:600px;
	margin-left: 10px;
}
.pics4{
	text-align: right;
}
.img-maurice{
	width: 600px;
	margin-left: 10px;
}
.img-lesley{
	width: 600px;
	margin-left: 10px;
}
.img-barbara{
	width: 600px;
	margin-left: 10px;
}

@media (min-width:600px;) {

}
